<div class="panel panel-default">
    <header class="post-header">
        <p class="post-title">{{title}}</p>
    </header>
    <div class="content-main">
        <article class="article">
            <div class="article-header">
                <div class="article-header-text">
                    <p class="article-content">
                        작성일자:{{createdDate}}
                    </p>
                    <p class="article-content">조회 {{viewCount}}</p>
                </div>
            </div>
            <div class="article-doc">
                <p>{{content}}</p>
            </div>
        </article>
    </div>
</div>