<th:block th:fragment="footerFragment">
    <!-- script references -->
    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        function postLogout() {
            let f = document.createElement('form');
            f.setAttribute('method', 'post');
            f.setAttribute('action', '/logout');
            document.body.appendChild(f);
            f.submit();
        }
    </script>
</th:block>
