<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Nathan's Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script href="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
</html>
