<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav_right" class="collapse navbar-collapse" id="navbar-collapse2">
    <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/}">Posts</a></li>
        <li><a th:unless="${session.isEmpty()}" th:href="@{/logout}" role="button">로그아웃</a></li>
        <li><a th:if="${session.isEmpty()}" th:href="@{/login}" role="button">로그인</a></li>
        <li><a th:if="${session.isEmpty()}" th:href="@{/users/join}" role="button">회원가입</a></li>
        <li><a th:href="@{/questions}" role="button">질문하기</a></li>
        <li><a th:unless="${session.isEmpty()}" th:text="${session.get('sessionedUser').userId}+'님의 정보수정'"
               th:href="@{/users/{userId}/update(userId=${session.get('sessionedUser').userId})}" role="button"></a></li>
    </ul>
</div>
</html>
