<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav_right" class="collapse navbar-collapse" id="navbar-collapse2">
    <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/}">Posts</a></li>
        <li><a th:href="@{/login}" role="button">로그인</a></li>
        <li><a th:href="@{/users/join}" role="button">회원가입</a></li>
        <li><a th:href="@{/questions}" role="button">질문하기</a></li>
        <!--                <li><a th:href="@{/}" role="button">로그아웃</a></li>-->
        <!--                <li><a th:href="@{/}" role="button">개인정보수정</a></li>-->
    </ul>
</div>
</html>
