<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/user/list.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">
                <a th:onclick="|location.href='@{/}'|" class="navbar-brand">
                    <img src="../images/KakaoCI.png"/>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="black-component" th:onclick="|location.href='@{/}'|" type="button">메인 페이지</a></li>
                <li><a class="black-component" th:onclick="|location.href='@{/members/login}'|">로그인</a></li>
                <li><a class="black-component" th:onclick="|location.href='@{/members/join}'|">회원가입</a></li>
            </ul>
        </div>
    </nav>

    <div class="description">
        <div class="desc-container">
            <p class="desc-small">코드스쿼드 마스터 게시판</p>
            <p class="desc-big">마스터들의 공지를 확인할 수 있습니다.</p>
        </div>
    </div>

    <p class="total_num" th:text="|전체 게시글 수: ${articles.size()}개|">전체 게시글 수 10개</p>

    <div class="container" id="main">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회 수</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${articles}">
                        <td th:text="|${article.id}.|"
                            th:onclick="|location.href='@{/articles/{id}(id=${article.id})}'|">No
                        </td>
                        <td class="title" th:text="${article.title}">제목</td>
                        <td class="contents" th:text="${article.content}">내용</td>
                        <td th:text="${article.writer}">작성자</td>
                        <td th:text="${article.createAt}">작성일</td>
                        <td th:text="${article.viewCount}">조회 수</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button th:onclick="|location.href='@{/articles/write}'|" type="submit"
                class="btn btn-success clearfix pull-right">글 쓰기
        </button>
    </div>
</div>
</body>
</html>
