<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment.html::head"></head>
<body>
<nav th:replace="/fragment.html::main-nav" ></nav>
<div th:replace="/fragment.html::sub-nav"></div>
<div class="container" id="main">
   <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
          <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th> <th>사용자 아이디</th> <th>이름</th> <th>이메일</th><th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${users}" >
                    <th scope="row" th:text="${user.id}">1</th>
                    <td th:text="${user.userId}">javajigi</td>
                    <td><a th:href="@{/users/{userId}(userId=${user.userId})}" th:text="${user.name}">자바지기</a></td>
                    <td th:text="${user.email}">javajigi@sample.net</td>
                    <td><a href="#" th:href="@{/users/{userId}/update(userId=${user.userId})}" class="btn btn-success" role="button">수정</a></td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>

<!-- script references -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
