<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../css/user/list.css" rel="stylesheet">
</head>
<body>
<div class="background">
<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="../index.html" class="navbar-brand">
                <img src="../images/KakaoCI.png" />
            </a>

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../index.html">메인 페이지</a></li>
            <li><a class="black-component" href="login.html" role="button">로그인</a></li>
            <li><a class="black-component" href="form.html" role="button">회원가입</a></li>
        </ul>
    </div>
</nav>

<div class="description">
    <div class="desc-container">
        <p class="desc-small">멤버리스트</p>
        <p class="desc-big">참여자를 확인할 수 있습니다.</p>
    </div>
</div>

<p class="total_num">전체 멤버 10명</p>

<div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>닉네임</th> <th>이메일</th> <th>회원가입일</th><th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>테스터 1</td> <td>test1@gmail.com</td><td>2021-12-14</td>
                </tr>
                <tr>
                    <td>테스터 2</td> <td>test2@gmail.com</td><td>2021-12-14</td>
                </tr>
                <tr>
                    <td>테스터 3</td> <td>test3@gmail.com</td><td>2021-12-14</td>
                </tr>
                <tr>
                    <td>테스터 4</td> <td>test4@gmail.com</td><td>2021-12-14</td>
                </tr>
                <tr>
                    <td>테스터 5</td> <td>test5@gmail.com</td><td>2021-12-14</td>
                </tr>
                <tr>
                    <td>테스터 6</td> <td>test6@gmail.com</td><td>2021-12-14</td>
                </tr>
                <tr>
                    <td>테스터 7</td> <td>test7@gmail.com</td><td>2021-12-14</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>
