<!DOCTYPE html>
<html lang="kr">
<head>
    {{> header}}
    <link href="../css/user/list.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{> navbar}}
    <div class="description">
        <div class="desc-container">
            <p class="desc-small">멤버리스트</p>
            <p class="desc-big">참여자를 확인할 수 있습니다.</p>
        </div>
    </div>

    <div class="container" id="main">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>닉네임</th>
                        <th>이메일</th>
                        <th>회원가입일</th>

                    </tr>
                    </thead>

                    <tbody>
                    {{#users}}
                    <tr>
                        <td><a href="/users/{{nickname}}">{{nickname}}</a></td>
                        <td>{{email}}</td>
                    </tr>
                    {{/users}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
