<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link href="/css/index.css" rel="stylesheet">

</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">
                <a th:onclick="|location.href='@{/}'|" class="navbar-brand">
                    <img src="images/KakaoCI.png" alt=""/>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:onclick="|location.href='@{/members}'|" class="black-component" type="button">멤버 리스트</a></li>
                <li><a class="black-component" th:onclick="|location.href='@{/members/login}'|">로그인</a></li>
                <li><a class="black-component" th:onclick="|location.href='@{/members/join}'|">회원가입</a></li>
            </ul>
        </div>
    </nav>

    <div class="description">
        <div class="desc-container">
            <p th:text="|${response.nickName} 님의|" class="desc-small">안녕하세요</p>
            <p class="desc-big">회원정보 상세보기</p>
        </div>
    </div>

    <p class="total_num" th:text="|${response.createAt} 님의 최근 접속 정보|">최근 접속 정보</p>

    <form th:object="${response}" method="post">
        <div class="container" id="main">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>닉네임</th>
                            <th>이메일</th>
                            <th>가입일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="*{id}">No</td>
                            <td>
                                <label>
                                    <input type="text" th:field="*{nickName}"/>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="text" th:field="*{email}"/>
                                </label>
                            </td>
                            <td th:text="*{createAt}">가입 날짜</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="post-btn-container">
            <button class="black-component" type="submit" role="button">회원정보 수정</button>
        </div>
    </form>
</div>
</body>
</html>
