<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/user/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{> navigation}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">회원 정보</p>
        </header>
        {{#user}}
        <div class="info-container">
            <div class="form-group">
                <label>닉네임</label>
                <p class="form-control">{{nickname}}</p>
            </div>
            <div class="form-group">
                <label>이메일</label>
                <p class="form-control">{{email}}</p>
            </div>
            <div class="form-group">
                <label>회원가입일</label>
                <p class="form-control">{{createdAt}}</p>
            </div>
        </div>
        {{/user}}
    </div>
</div>
</body>
</html>
