<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: head"></head>
<body>
<nav th:replace="fragment :: main-nav" ></nav>
<div th:replace="fragment :: sub-nav"></div>
<div class="container" id="main" th:object="${user}">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <div th:if="${#fields?.hasAnyErrors()}" class="alert alert-danger" role="alert">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}">전체 오류 메세지</p>
            </div>
            <form name="question" method="post" action="/user/update" th:action="@{/users/{userId}/update(userId=${session.loginUserSession.userId})}">
                <input type="hidden" name="_method" value="PUT" />
                <div class="form-group">
                    <label for="userId">사용자 아이디</label>
                    <input class="form-control" id="userId" name="userId" placeholder="User ID" th:value="${user.userId}" readonly>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호 확인</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" >
                </div>
                <div class="form-group">
                    <label for="name">이름</label>
                    <input class="form-control" id="name" name="name" placeholder="Name" th:value="${user.name}">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" th:value="${user.email}">
                </div>
                <div class="clearfix">
                <button type="submit" class="btn btn-success clearfix pull-right">회원 정보 수정</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- script references -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
