<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<div class="container" id="main">
   <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default content-main">
          <form name="question" role="form" method="post" th:action="@{/users/{userId}/update(userId=${userRequestDto.userId})}" th:object="${userRequestDto}">
              <input type="hidden" name="_method" value="put">
              <input type="hidden" id="userId" th:name="userId" th:field="*{userId}" th:value="${userRequestDto.userId}">
              <div class="form-group">
                  <label th:for="password">비밀번호</label>
                  <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="Password">
              </div>
              <div class="form-group">
                  <label th:for="name">이름</label>
                  <input class="form-control" th:field="*{name}" id="name" name="name">
              </div>
              <div class="form-group">
                  <label th:for="email">이메일</label>
                  <input type="email" class="form-control" th:field="*{email}" id="email" name="email">
              </div>
              <button type="submit" class="btn btn-success clearfix pull-right">수정</button>
              <div class="clearfix" />
          </form>
        </div>
    </div>
</div>

<!-- script references -->
<div th:replace="fragments/footer :: footer" />
	</body>
</html>