<!DOCTYPE html>
<html th:replace="layout/header :: header(~{::title}, ~{::content})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<content>
    <div class="container" id="main">
       <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default content-main">
              <form name="question" method="post" th:object="${userUpdateDto}" th:action="@{/users/{userId}(userId=${userUpdateDto.userId})}">
                  <input type="hidden" name="_method" value="PUT"/>
                  <div th:if="${exception != null}" th:text="${exception}" th:th:classappend="field-error"/>
                  <div class="form-group">
                      <label for="userId">사용자 아이디</label>
                      <input class="form-control" id="userId" name="userId" placeholder="User ID"
                             th:field="*{userId}" th:errorclass="field-error" disabled>
                      <p class="field-error" th:errors="*{userId}">
                          사용자 아이디 오류
                      </p>
                  </div>
                  <div class="form-group">
                      <label for="currentPassword">현재 비밀번호</label>
                      <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="현재 비밀번호"
                             th:field="*{currentPassword}" th:errorclass="field-error">
                      <p class="field-error" th:errors="*{currentPassword}">
                          현재 비밀번호 오류
                      </p>
                  </div>
                  <div class="form-group">
                      <label for="newPassword">변경 비밀번호</label>
                      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="새 비밀번호"
                             th:field="*{newPassword}" th:errorclass="field-error">
                      <p class="field-error" th:errors="*{newPassword}">
                          새 비밀번호 오류
                      </p>
                  </div>
                  <div class="form-group">
                      <label for="name">이름</label>
                      <input class="form-control" id="name" name="name" placeholder="Name"
                             th:field="*{name}" th:errorclass="field-error">
                      <p class="field-error" th:errors="*{name}">
                          이름 오류
                      </p>
                  </div>
                  <div class="form-group">
                      <label for="email">이메일</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                             th:field="*{email}" th:errorclass="field-error">
                      <p class="field-error" th:errors="*{email}">
                          이메일 오류
                      </p>
                  </div>
                  <button type="submit" class="btn btn-success clearfix pull-right">회원가입</button>
                  <div class="clearfix" />
              </form>
            </div>
        </div>
    </div>
</content>
</body>
</html>
