<!DOCTYPE html>
<html lang="kr" th:fragment="nav" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a th:href="@{/}">
                <img src="../images/KakaoCI.png"/>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="black-component" th:href="@{/users}">멤버 리스트</a></li>
            <li><a class="black-component" th:onclick="|location.href='@{/user/login}'|" role="button">로그인</a></li>
            <li><a class="black-component" th:href="@{/user/form}" >회원가입</a></li>
        </ul>
    </div>
</nav>
</html>
