<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partial/head}}
    <title>로그인</title>
    <meta id="activeButton" content="login">
</head>
<body>
{{> partial/navbar-top}}
{{> partial/navbar-subnav}}

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <div class="alert alert-danger" role="alert">아이디 또는 비밀번호가 틀립니다. 다시 로그인 해주세요.</div>
            {{> partial/login-form}}
        </div>
    </div>
</div>

<!-- script references -->
{{> partial/script-references}}
</body>
</html>
