<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error Page</title>
</head>

<body>
  <!--https://spring.io/blog/2013/11/01/exception-handling-in-spring-mvc-->
  <h1>{{status}}</h1>
  <p>Application has encountered an error. Please contact support on ...</p>
  <br />

  <p>Failed URL: {{url}}</p>
  <p>Exception: {{message}}</p>
  <br />

  <button type="button" class="btn btn-link">
    <a href="javascript:history.back()" style="color: black">Go Back</a>
  </button>
</body>
</html>