<!DOCTYPE html>
<html th:replace="layout/header :: header(~{::title}, ~{::content})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
</head>
<body>
<content>
    <div class="container" id="main">
       <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
          <div class="panel panel-default qna-list">
              <ul class="list">
                  <li th:each="article : ${articles}">
                      <div class="wrap">
                          <div class="main">
                              <strong class="subject">
                                  <a th:href="@{/articles/{articleId}(articleId=${article.id})}" th:text="${article.title}">runtime 에 reflect 발동 주체 객체가 뭔지 알 방법이 있을까요?</a>
                              </strong>
                              <div class="auth-info">
                                  <i class="icon-add-comment"></i>
                                  <span th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}" class="time">2016-01-05 18:47</span>
                                  <a th:href="@{/users/{userId}(userId=${article.user.userId})}" th:text="${article.user.name}" class="author">김문수</a>
                              </div>
                              <div class="reply" title="댓글">
                                  <i class="icon-reply"></i>
                                  <span class="point">0</span>
                              </div>
                          </div>
                      </div>
                  </li>
              </ul>
              <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6 text-center">
                      <ul class="pagination center-block" style="display:inline-block;">
                          <li><a href="#">«</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">»</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3 qna-write">
                      <a href="/questions/create" class="btn btn-primary pull-right" role="button">질문하기</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</content>

</body>
</html>
