<!DOCTYPE html>
<html lang="kr">
<head>
    {{> includes/html_header}}
    <title>kakao Java Web Programming</title>
    <link href="../css/post/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{> includes/header}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">글쓰기</p>
        </header>
        <form class="submit-write" id="writeForm" method="post" action="/questions">
            <div class="text-box">
                <div class="comment-writer-container">
                    <p class="post-title">제목</p>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="title" name="title" placeholder="제목을 입력하세요"></textarea>
                </div>
            </div>

            <div class="text-box">
                <div class="comment-writer-container">
                    <p class="post-content">내용</p>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
                </div>
            </div>
            <button class="post-write-btn" type="submit" onclick="return checkTitleBlack();">등록</button>
        </form>
    </div>
</div>
<script>
    function checkTitleBlack() {
        let title = document.getElementById("title");

        if (!title.value) {
            alert(`'제목'은 필수입력 항목입니다.`);
            return false;
        }

        return true;
    }
</script>
</body>
</html>
