<!DOCTYPE html>
<html lang="kr">
<head>
  {{> components/header}}
</head>
<body>
{{> components/navbar}}

<div class="container" id="main">
  <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-default content-main">
      {{#article}}
      <form action="/articles/{{&articleId}}" method="post" name="question">
        <input name="_method" type="hidden" value="PUT"/>
        <div class="form-group">
          <label for="title">제목</label>
          <input class="form-control" id="title" name="title" placeholder="제목" type="text"
                 value="{{&title}}"/>
        </div>
        <div class="form-group">
          <label for="contents">내용</label>
          <textarea class="form-control" id="contents" name="contents"
                    rows="5">{{contents}}</textarea>
        </div>
        <button class="btn btn-success clearfix pull-right" type="submit">수정하기</button>
        <div class="clearfix"/>
      </form>
      {{/article}}
      {{^article}}
      <form action="/articles" method="post" name="question">
        <div class="form-group">
          <label for="title_else">제목</label>
          <input class="form-control" id="title_else" name="title" placeholder="제목" type="text"/>
        </div>
        <div class="form-group">
          <label for="contents_else">내용</label>
          <textarea class="form-control" id="contents_else" name="contents" rows="5"></textarea>
        </div>
        <button class="btn btn-success clearfix pull-right" type="submit">질문하기</button>
        <div class="clearfix"/>
      </form>
      {{/article}}
    </div>
  </div>
</div>

{{> components/reference}}
</body>
</html>
