<!DOCTYPE HTML>
<html lang="kr" class="container">
<head>
    <title>Home Page</title>
</head>

<body class="main">
    <div>
        <div>
            <li><a href="user/create">회원 가입</a></li>
            <li><a href="user/list">유저 리스트</a></li>
        </div>
    </div>
</body>

</html>

<style>
    li {
        list-style: none;
    }

    a {
        text-decoration-line: none;
    }

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main {
        width: 50%;
        height: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 2px solid black;
        border-radius: 8px;

    }
</style>
