<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/images/KakaoCI.png" />
            </a>

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/users/list">멤버 리스트</a></li>
            <li><a class="black-component" href="/users/login" role="button">로그인</a></li>
            <li><a class="black-component" href="/users/form" role="button">회원가입</a></li>
        </ul>
    </div>
</nav>